.user-container {
    padding: 1rem;
}

.user-detail-paper {
    padding: 1rem 1rem;
    display: flex;
}

.user-detail-paper-avatar {
    width: 6rem !important;
    height: 6rem !important;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
}

.user-detail-paper-nickname {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.user-detail-paper-update-message {
    display: flex;
    align-items: center;
    color: #1976d2;
    margin-top: 0.5rem;
}